:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
  
.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    font-family: 'Jost', sans-serif;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--secondary{
  background-color: #ff00e4;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 40px;

}

.blue {
  background-color: #ff00e4;
  color: #fff;
  border: none;
  border-radius: 10px;
}
  
.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
.btn--large {
    padding: 16px 56px;
    font-size: 20px;
}

.blue:hover{
  outline: #ff00e4;
  color: #fff;
  background-color: #ff00e4;
}
  