@import '../../../global.scss';

.container{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    .wrapper{
        width:40%;
        height: 100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:20px;
        background-color:transparent;
        border: 2px solid lightblue;
        box-shadow: 0px 0px 15px -8px rgb(59, 59, 59);
        border-radius:20px;
        margin-top: 50px;
        margin-bottom: 200px;
        padding-top: -20%;
        padding-bottom: 50px;
        @include mobile{
            width: 75%; 
            height: 100rem;           
        }

        .title{
           margin-top: 80px; 
           @include mobile{
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 20px;   
            
            .title_heading{
                @include mobile{
                 font-size: 20px;             
                }
            }
         } 

        }

        .form{
        width: 90%;
        padding: 5rem;
        padding-top: 50px;
        @include mobile{
            padding: 0; 
            width: 100%;  
            height: 100%;    
         }

            .form__group{
                 width:100%;
                 margin-bottom: 2rem;
                 border-bottom:1px solid orange;
                 border-radius:5px;
                 @include mobile{
                    font-size: 10px;         
                }

                .form__input{
                    font-size: 1rem;
                    font-family: inherit;
                    padding: 1rem 0rem;
                    background-color: rgba( #fff, .5);
                    border: none;
                    border-bottom: 4px solid transparent;
                    width: 100%;
                    display: block;
                    @include mobile{
                        font-size: 10px;         
                    }
                    &:focus{
                        outline: none;
                        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .1);
                        border-bottom: 4px solid lightskyblue;
                    }
                    &:focus:invalid{
                        color: orange;
                        border-bottom: 4px solid orange;
                    }
                } 

                .form__label{
                    width:100%;
                    height:30px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    display: block;
                    transition: all .3s;
                    background-color:#f5fafd;
                    @include mobile{
                        font-size: 10px;         
                    }
                }
            }

            .form__span{
                display: block;
                margin-top: 30px;
                @include mobile{
                    font-size: 12px;         
                }

            }

            .form__btn{
                margin-top: 50px;
                padding: 1rem 2rem;
                background-color: lightskyblue;
                border-radius: 30px;
                font-size: 2rem;
                font-weight: 700;
                color: #fff;
                transition: all .2s;
                text-decoration: none;
                border: none;
                text-transform: uppercase;
                cursor: pointer;
                display: block;
                @include mobile{
                    padding: .7rem 1.5rem;
                    font-size: 10px;         
                }

                &:hover{
                    transform: translateY(-3px);
                    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .2);

                    &::after{
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }
                }
            }
        }
    }
}